<div class="home-container">
    <h2>Welcome to the Fitness Tracker!</h2>
    <p>Your personal fitness companion to help you achieve your health goals.</p>
    <img src="\calisthenics-flag.jpg" /> 
    <h2>10 Motivational Workout Quotes</h2>
    <ul>
        <li><span class="font-style-quotes">“I hated every minute of training, but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion.”</span> – Muhammad Ali</li>
        <li><span class="font-style-quotes">“We are what we repeatedly do. Excellence then is not an act but a habit.”</span> –Aristotele</li>
        <li><span class="font-style-quotes">“The body achieves what the mind believes.”</span> – Napoleon Hill</li>
        <li><span class="font-style-quotes">“The hard days are the best because that’s when champions are made, so if you push through, you can push through anything.”</span> – Dana Vollmer</li>
        <li><span class="font-style-quotes">“If you don’t find the time, if you don’t do the work, you don’t get the results.”</span> – Arnold Schwarzenegger</li>
        <li><span class="font-style-quotes">“Dead last finish is greater than did not finish, which trumps did not start.”</span> — Unknown</li>
        <li><span class="font-style-quotes">“Push harder than yesterday if you want a different tomorrow.”</span> – Vincent Williams Sr.</li>
        <li><span class="font-style-quotes">“The real workout starts when you want to stop.”</span> – Ronnie Coleman</li>
        <li><span class="font-style-quotes">“Take care of your body. It’s the only place you have to live.”</span> — Jim Rohn</li>
        <li><span class="font-style-quotes">I’ve failed over and over again in my life and that is why I succeed.”</span> – Michael Jordan</li>
    </ul>
</div>